<div id='map' class='map-large-size'></div>

<script>
  let map
  let geocoder
  const center_point = {lat: <%= plan.calculate_schedule_addresses_center_point[0] %>, lng: <%= plan.calculate_schedule_addresses_center_point[1] %>};
  let marker = [];
  let infoWindow = [];
  function initMap(){
      geocoder = new google.maps.Geocoder()  
      map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      scaleControl: true,
      scrollwheel: true,
    });
    if (center_point !== null) {
      map.setCenter(center_point);
      var index = 0
      let spot
      <% plan.schedules.each do |place | %>
        <% next if place.plan_item.address.blank? %>
        spot = {lat: <%= place.plan_item.latitude %>, lng: <%= place.plan_item.longitude %>};
        marker[index] = new google.maps.Marker({
          position: spot,
          map: map
        });
        infoWindow[index] = new google.maps.InfoWindow({
          content: <%= place.position %>
        });
        markerEvent(index);
        ++index
      <% end %>
    }
  }
  function markerEvent(index) {
    marker[index].addListener('click', function () {
      infoWindow[index].open(map, marker[i]);
    });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>