<div class="center_form">
<div class="top-box">
  <div class="top-img-box">
    <%= image_tag 'top.jpg', class: "top-img" %>
  </div>
  <div class="top-title-message">
    <h1><div class="top-title"><%= I18n.t("title.app") %></div></h1>
    <h5><div class="top-message"><%= I18n.t("message.make_a_travel_plan") %></div></h5>
  </div>
  <div class="button_wrapper top_button">
    <% unless current_user %>
      <%= link_to "新規登録", new_user_registration_path, class: "button_base button_info" %>
      <%= link_to "ログイン", new_user_session_path, class: "button_base button_info" %>
    <% else %>
      <%= link_to I18n.t("button.my_page"), user_path(current_user.id) , class: "button_base button_info" %>
    <% end %>
  </div>
</div>

  <div class="our_trip_value">
    OurTripはどんなシチュエーションの時に使うの？
  </div> 
  <div class="our_trip_value_item">
    旅行の計画を立てたいけど、友達と時間が合わない・・・。
  </div> 
  <div class="our_trip_value_item">
    旅行の計画を立てたいけど、友達は離れた場所にいる・・・。
  </div> 
  <div class="our_trip_value_item">
    そんなシチュエーションの時に使用して欲しいのが、OurTripです。
  </div> 

  <div class="our_trip_value">
    使い方は？
  </div> 
  <div class="our_trip_item_box">
    <div class="our_trip_item">旅行計画を立てます。</div>
    <%= image_tag "our_trip_item_1.png", class: "our_trip_item_image" %>
  </div>
  <div class="our_trip_item_box">
    <div class="our_trip_item">旅行計画に招待します。</div>
    <%= image_tag "our_trip_item_2.png", class: "our_trip_item_image" %>
  </div>
  <div class="our_trip_item_box">
    <div class="our_trip_item">皆で旅行の案を出し合います。</div>
    <%= image_tag "our_trip_item_3.png", class: "our_trip_item_image" %>
  </div>
  <div class="our_trip_item_box">
    <div class="our_trip_item">スケジュールを組み立てます。</div>
    <%= image_tag "our_trip_item_4.png", class: "our_trip_item_image" %>
  </div>
  <div class="our_trip_value">
    旅行に行きましょう！
  </div>
</div>