<div class="top-box">
  <%= image_tag 'top.jpg', class: "top-img" %>
  <div class="top-title-message">
    <h1><div class="top-title"><%= I18n.t("title.app") %></div></h1>
    <h5><div class="top-message"><%= I18n.t("message.make_a_travel_plan") %></div></h5>
  </div>
  <div class="button_wrapper top_button">
    <% unless current_user %>
      <%= link_to "新規登録", new_user_registration_path, class: "button_base button_info" %>
      <%= link_to "ログイン", new_user_session_path, class: "button_base button_info" %>
    <% else %>
      <%= link_to I18n.t("button.plan_index"), plans_path, class: "button_base button_info" %>
    <% end %>
  </div>
</div>

