<div class="center_form">
  <div class="frame">
    <%= form_with(model: @participant , url: plan_participants_path , local: true) do |f| %>
      <%= f.hidden_field :plan_id, value: @plan.id %>
      <div class="container">
        <div class="row margin_controler">
          <%= f.text_field :name, { class: "form-control" , placeholder: I18n.t('message.participation_user_name')} %>
        </div>
        <div class="button_wrapper">
          <%= f.submit nil %>
        </div>
      </div>
    <% end %>
  </div>
  <% @participants.each do |participant| %>
    <div class="frame list_margin text-center">
      <div class="list_title">
        <i><%= image_tag chose_user_icon(participant.user)  , class: "list_icon" %></i>
        <%= participant.user.name %>
        <% if @plan.user == current_user && participant.user != @plan.user %>
          <%= link_to I18n.t("button.destroy")  , plan_participant_path(id: participant.id) , method: :delete %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate @participants %>
</div>