<div class="container">
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <div class="frame"> 
        <div> 
          <%= @user.name %>
        </div>
        <div> 
          <%= @user.email %>
        </div>
        <hr>
        <div class="my_page_button"> 
          <%= link_to I18n.t("button.edit"), edit_user_registration_path , class: "button_base button_info" %>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-xs-12">
      <div class="button_wrapper">
        <%= link_to I18n.t("button.plan_new"), new_plan_path, class: "button_base button_info" %>
      </div>
      <div class="row"> 
        <% @user.plans.each do |plan| %>
            <div class="list_item frame">
              <%= link_to plan_path(plan), class: "card_link" do %>
                <h1 class="list_title text-left"><%= plan.name %></h1>
                <hr>
                <div class="list_box">
                <%= image_tag 'travel.jpg', class: "list_img" %>
                <p class="list_image_with_content"><%= plan.content %></p>
              </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
