<h1 class="center_form"><%= I18n.t("button.schedule_new") %></h1>
<% if @plan_item.blank? %>
  <div class="message_box"><%= I18n.t("message.please_create_plan_item") %></div>
<% end %>
<div class="button_wrapper">
  <%= link_to I18n.t("button.schedule_show") , plan_path(@plan) , class: "button_base button_info" %>
</div>
<div class="container">
    <div class="row">
      <div class="col-xs-6 ">
        <h3 class="center_form"><%= I18n.t("title.schedule") %></h3>
        <div id="sortable_list_A" class="list-group col frame">
          <% @plan.schedule.each do |item| %>
            <div class="shadow card_margin card_mini list-group-item">
              <div class="card-content">
                <%= tag.div item.id , class: 'hide item_id' %>
                <h1 class="card-title"><%= item.plan_item.title %></h1>
                <hr>
                <div class="card-text"><%= simple_format(item.plan_item.content) %></div>
                <div class="list_right"><%= item.plan_item.user.name %></div>
                <div class="list_right"><%= I18n.l(item.plan_item.updated_at, format: :long) %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6 ">
        <h3 class="center_form"><%= I18n.t("title.plan_items") %></h3>
        <div id="sortable_list_B" class="list-group col frame">
          <% @plan_item.each_with_index do |item,i| %>
            <div class="shadow card_margin card_mini list-group-item">
              <div class="card-content">
                <%= tag.div item.id , class: 'hide item_id' %>
                <h1 class="card-title"><%= item.title %></h1>
                <hr>
                <div class="card-text"><%= simple_format(item.content) %></div>
                <div class="list_right"><%= item.user.name %></div>
                <div class="list_right"><%= I18n.l(item.updated_at, format: :long) %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>