<div class="">
  <% @plan_item.each do |item| %>
  <div class="list_item frame">
      <%= link_to plan_plan_item_path(id: item.id , plan_id: item.plan_id) do %>
          <div class="list_title"><%= item.title %></div>
          <hr>
          <div>
            <div class="list_content"><%= simple_format(item.content) %></div>
            <div class="list_right"><%= item.user.name %></div>
            <div class="list_right"><%= I18n.l(item.updated_at, format: :long) %></div>
          </div>
      <% end %>
      </div>
  <% end %>
</div>