<div class="center_form">
  <div class="button_wrapper frame">
    <% if @plan.user == current_user || @plan.participants.pluck(:user_id).include?(current_user.id) %>
      <%= link_to I18n.t("button.plan_item_new"), new_plan_plan_item_path, class: "button_base button_info" %>
    <% end %>
    <%= link_to I18n.t("button.back"), plan_path(@plan) , class: "button_base button_info" %>
  </div>
  <% @plan_item.each do |item| %>
    <div class="list_margin frame">
      <div class="list_title">
        <i><%= image_tag(choose_category_image(item) , class: "list_icon") %></i>
        <%= link_to item.title, plan_plan_item_path(id: item.id , plan_id: item.plan_id)  %>
      </div>
      <hr>
      <div class="list_content"><%= simple_format(item.content) %></div>
      <div class="list_right"><%= item.user.name %></div>
      <div class="button_wrapper">
        <% if item.plan.user == current_user %>
          <%= link_to I18n.t("button.edit") , edit_plan_plan_item_path(id: item.id , plan_id: item.plan_id) , class: "button_base button_info" %>
        <% end %>
        <% if item.plan.user == current_user || item.user == current_user %>
          <%= link_to I18n.t("button.destroy")  , plan_plan_item_path(id: item.id , plan_id: item.plan_id) , method: :delete , class: "button_base button_warning"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>