<div class='center_form'>
  <div class="frame">
    <h1><%= @plan_item.title %></h1>
    <hr>
    <table class="table table-borderd">
      <tr>
        <th><%= I18n.t("title.content") %></th>
        <td class="text-left"><%= simple_format(@plan_item.content) %></td>
      </tr>
      <tr>
        <th><%= I18n.t("title.create_user") %></th>
        <td class="text-left"><%= @plan_item.user.name %></td>
      </tr>
    </table>
    <hr>
    <% if @plan_item.plan.user == current_user || @plan_item.user == current_user %>
      <div class="button_wrapper">
        <% if @plan_item.user == current_user %>
          <%= link_to I18n.t("button.edit") , edit_plan_plan_item_path(id: @plan_item.id , plan_id: @plan_item.plan_id) , class: "button_base button_info" %>
        <% end %>
        <%= link_to I18n.t("button.destroy")  , plan_plan_item_path(id: @plan_item.id , plan_id: @plan_item.plan_id) , method: :delete , class: "button_base button_warning"%>
      </div>
    <% end %>
  </div>
  <div class="frame list_margin">
    <div id="comments_area">
        <%= render partial: "comments/index", locals: { comments: @comments  } %>
    </div>
  </div>
  <%= render partial: "comments/form", locals: { plan_item: @plan_item, comment: @comment } %>
</div>