<%= form_with(model: plan, local: true) do |f| %>
  <div class="container">
    <div class="row">
      <%= f.label :name %>
      <%= f.text_field :name, { class: "form-control" }%>
    </div>
    <div class="row">
      <%= f.label :content %> 
      <%= f.text_area :content, { class: "form-control" } %>
    </div>
    <div class="row">
        <%= f.submit nil, { class: "button_base button_info" } %>
    </div>
  </div>
<% end %>