<%= form_with(model: plan, local: true) do |f| %>
  <div class="container">
    <div class="row margin_controler">
      <%= f.label :name %>
      <%= f.text_field :name, { class: "form-control" }%>
    </div>
    <div class="row margin_controler">
      <%= f.label :content %> 
      <%= f.text_area :content, { class: "form-control" } %>
    </div>
    <div class="field">
      <%= f.label :image %><br/>
      <%= f.file_field :image ,  class: "image_field_center"  %>
    </div>
    <div class="row margin_controler button_wrapper">
      <%= f.submit nil, { class: "button_base button_info" } %>
    </div>
    </div>
  </div>
<% end %>