<div class="center_form">
  <div class="button_wrapper">
    <%= link_to I18n.t("button.plan_new"), new_plan_path, class: "button_base button_info" %>
  </div>
  <% @plan.each do |plan| %>
    <div class="list_margin frame">
      <%= link_to plan_path(plan) do %>
        <div class="list_box">
          <% if plan.image.present? %>
            <%= image_tag plan.image.url, class: "list_img" %>
          <% else %>
            <%= image_tag 'travel.jpg', class: "list_img" %>
          <% end %>
          <div class="list_image_with_content">
            <h1 class="list_title text-left"><%= plan.name %></h1>
            <hr>
            <div class="list_content"><%= simple_format(plan.content) %></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= paginate @plan %>
</div>