<div class="container">
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <div class="frame"> 
        <div>
          <h3 class="text-center"><%= @plan.name %></h3>
        </div>
        <hr>
        <table class="table table-borderd">
          <tr>
            <td class="text-left" colspan="2" ><%= simple_format(@plan.content) %></td>
          </tr>
          <tr>
            <td>作成者</td>
            <td class="text-left"><%= link_to @plan.user.name , user_path(@plan.user.id) %></td>
          </tr>
        </table>
        <% if @plan.user == current_user %>
          <hr>
          <div class="button_wrapper">
            <%= link_to I18n.t("button.edit") , edit_plan_path(@plan) , class: "button_base button_info" %>
            <%= link_to I18n.t("button.destroy")  , plan_path(@plan) , method: :delete , class: "button_base button_warning destroy_plan"%>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-9 col-xs-12">
      <div class="frame"> 
        <div class="button_wrapper">
          <% if @plan.user == current_user %>
            <%= link_to I18n.t("button.add_member") , plan_participants_path(@plan) , class: "button_base button_info" %>
            <%= link_to I18n.t("button.schedule_new") , plan_schedules_path(@plan) , class: "button_base button_info" %>
          <% end %>
          <%= link_to I18n.t("button.plan_item_index") , plan_plan_items_path(@plan) , class: "button_base button_info" %>
        </div>
      </div>
      <% @schedules.each do |item| %>
        <div class="list_margin frame list_index_box"> 
        <div class="list_index"><%= item.position %></div>
          <div class="list_title">
            <i><%= image_tag(choose_category_image(item.plan_item) , class: "list_icon") %></i>
            <%= link_to item.plan_item.title , plan_plan_item_path(id: item.plan_item.id , plan_id: @plan.id)  %>
          </div>
          <hr>
          <div class="list_content"><%= simple_format(item.plan_item.content) %></div>
          <div class="list_right"><%= item.plan_item.user.name %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>