<div class="container">
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <div class="frame"> 
        <div>
          <h3 class="text-center"><%= @plan.name %></h3>
        </div>
        <hr>
        <div class="show_content">
          <%= @plan.content %>
        </div>
        <% if @plan.user == current_user %>
          <hr>
          <div class="button_wrapper">
            <%= link_to I18n.t("button.edit") , edit_plan_path(@plan) , class: "button_base button_info" %>
            <%= link_to I18n.t("button.destroy")  , plan_path(@plan) , method: :delete , class: "button_base button_warning destroy_plan"%>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-9 col-xs-12">
      <div class="frame"> 
        <div class="button_wrapper">
          <% if @plan.user == current_user %>
            <%= link_to "スケジュール作成" , plan_schedules_path(@plan) , class: "button_base button_info" %>
          <% end %>
          <%= link_to I18n.t("button.plan_item_index") , plan_plan_items_path(@plan) , class: "button_base button_info" %>
        </div>
      </div>
      <% @plan.schedule.each do |item| %>
        <div class="list_item frame list_index_box"> 
          <div class="list_index"><%= item.position %></div>
          <div class="list_title"><%= item.plan_item.title %></div>
          <hr>
          <div class="list_content"><%= simple_format(item.plan_item.content) %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
