<!DOCTYPE html>
<html>
  <head>
    <title>OurTrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  </head>
  <header>
    <nav class="nav">
      <%= link_to I18n.t("title.app"), root_path, class: "header_title"%>
        <div class="navbar-text navbar-right">
          <ul id="dropmenu">
            <li><a href="#">通知</a>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </li>
            <li><a href="#">メニュー</a>
          <ul>
          <% if user_signed_in? %>
            <li><%= link_to current_user.name, user_path(current_user.id) %></li>
            <li><%= link_to I18n.t("button.logout"), destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to I18n.t("button.sign_in"), new_user_registration_path %></li>
            <li><%= link_to I18n.t("button.login"), new_user_session_path %></li>
          <% end %>
    </ul>
  </li>
</ul>
            
            
        </div>    
    </nav>
  </header>
  <body> 
    <% if notice %>
      <p class="alert alert-info center_form"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger center_form"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </body>
  <footer>
    <div id="copyright">©️missyu3 2020</div>
  </footer>
</html>
